@model Kurnik.Models.Lobby;

<link rel="stylesheet" href="~/css/room.css" />

<div class="room_layout">
    <div class="game_column">
        <div class="row">
            <div class="col-md-12">
                <script src="~/lib/signalr/dist/browser/signalr.js"></script>
                <script type="text/javascript" src="/js/requirejs-min.js"></script>
                <script type="text/javascript" src="/js/game_engine.js"></script>
                <script type="text/javascript">
                     window.onload = function() {
                         init();
                     };

                     var mod_Bomberman = null;
                     var application = null;
                     var playerId = 0;
                     var players = [];
                     function init()
                     {
                         if ( application === null )
                         {
                             require( ['./bomberman'], function ( bomberman )
                             {
                                 mod_Bomberman = bomberman;

                                 try
                                 {
                                     var applicationDesc = new bomberman.FBombermanApplicationDesc;
                                     applicationDesc.CanvasID = "GameWindow";
                                     applicationDesc.Width = 7;
                                     applicationDesc.Height = 5;
                                     applicationDesc.Flags = 0
                                         | bomberman.EBombermanApplicationFlags.UseWebGL2
                                         | bomberman.EBombermanApplicationFlags.UseGlobalPaths;

                                     application = bomberman.CreateBombermanApplication( applicationDesc );

                                     application.Run();
                                 }
                                 catch ( e )
                                 {
                                     alert( e );
                                 }
                             } );
                         }
                     }
                     function add_player()
                     {
                         var playerDesc = new mod_Bomberman.FBombermanPlayerDesc;
                         var playerInitData = new mod_Bomberman.FBombermanPlayerInitData;

                         playerDesc.Id = playerId;
                         playerDesc.Name = document.getElementById( 'player_name' ).value;
                         playerDesc.AvatarSrc = '/images/player-avatar.png';

                         playerInitData.X = playerId + 1;
                         playerInitData.Y = 1;
                         playerInitData.Rotation = 0;

                         application.AddPlayer( playerDesc, playerInitData );

                         players.push( [playerDesc.Name, playerId] );

                         playerId++;
                     }
                     function remove_player()
                     {
                         var playerName = document.getElementById( 'player_name' ).value;
                         for ( var i = 0; i < players.length; ++i )
                         {
                             if ( players[i][0] == playerName )
                             {
                                 application.RemovePlayer( players[i][1] );
                                 break;
                             }
                         }
                     }
                </script>
                <canvas width="1024" height="600" id="GameWindow">
                    HTML5 canvas element is not supported.
                </canvas>
            </div>
        </div>
        <div class="players_section">
            <input class="form-control" type="text" name="player_name" id="player_name" placeholder="Player" /><br />
            <button class="btn btn-default players_section_button" onclick="add_player()">Add player</button>
            <button class="btn btn-danger players_section_button" onclick="remove_player()">Remove player</button>
        </div>
    </div>
    <div class="messenger_column">
        <h2 style="display:inline-block">Room: @ViewContext.RouteData.Values["id"]</h2>
        <p style="display:inline-block; padding-left:30px">Name: <b>@Model.Name</b></p>
        <p style="display:inline-block; padding-left:30px">Private: <b>@Model.Private</b></p>

        @if (ViewBag.isOwner)
        {
            <button style="margin-left:30px" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Lobby", new {@Model.ID})'">Edit</button>
        }
        @if (!ViewBag.isParticipator)
        {
            <form asp-controller="Lobby" asp-action="Join" asp-route-id="@ViewContext.RouteData.Values["id"]" method="post" role="form">
                <button class="btn btn-success" type="submit">Join</button>
            </form>
        }
        @if (ViewBag.IsParticipator)
        {
            <form asp-controller="Lobby" asp-action="Leave" asp-route-id="@ViewContext.RouteData.Values["id"]" method="post" role="form">
                <button class="btn btn-danger" type="submit">Leave</button>
            </form>
        }
        <div style="height: 250px; overflow: auto;">
            @if (Model.UserParticipations.Count > 0)
        {
            <div class="card" style="margin: 40px auto;">
                <h4>Users:</h4>
                @for (var i = 0; i < Model.UserParticipations.Count; i++)
                {
                    var user = Model.UserParticipations.ElementAt(i).User;
                    <p>@user.Email</p>
                    @if (ViewBag.isOwner)
                    {
                        <form asp-controller="Lobby" asp-action="Remove" asp-route-id="@ViewContext.RouteData.Values["id"]" method="post" role="form">
                            <input type="hidden" value="@user.Id" name="userId" />
                            <button class="btn btn-danger" type="submit">Usuń</button>
                        </form>
                    }
                    <br />
                }
            </div>
        }
        </div>


        <div class="messenger_card">
            <section>
                <input class="form-control" type="text" id="message-input" placeholder="Message" />
                <button style="margin-top:20px" class="btn btn-info" id="send-message-button">Send</button>
            </section>
        </div>
        <div class="messenger_section" id="messagesList"></div>
    </div>
</div>

<script src="~/js/chat.js"></script>

<!--
<h2>Pokój o id @ViewContext.RouteData.Values["id"]</h2>

<p>
    Nazwa: @Model.Name
</p>
<p>
    Prywatny: @Model.Private
</p>

@if (ViewBag.isOwner)
{
    <a asp-area="" asp-controller="Lobby" asp-action="Edit" asp-route-id="@Model.ID">Edytuj</a>
}
@if (!ViewBag.isParticipator)
{
    <form asp-controller="Lobby" asp-action="Join" asp-route-id="@ViewContext.RouteData.Values["id"]" method="post" role="form">
        <button type="submit">Dołącz</button>
    </form>
}
@if (ViewBag.IsParticipator)
{
    <form asp-controller="Lobby" asp-action="Leave" asp-route-id="@ViewContext.RouteData.Values["id"]"
          method="post" role="form">
        <button type="submit">Wyjdź</button>
    </form>
}

<br />
<br />

<p>
    Użytkownicy:
</p>
@for (var i = 0; i < Model.UserParticipations.Count; i++)
{
    var user = Model.UserParticipations.ElementAt(i).User;
    <text>@user.Email id=@user.Id</text>
    @if (ViewBag.isOwner)
    {
        <form asp-controller="Lobby" asp-action="Remove" asp-route-id="@ViewContext.RouteData.Values["id"]" method="post" role="form">
            <input type="hidden" value="@user.Id" name="userId" />
            <button type="submit">Usuń</button>
        </form>
    }
    <br />
}

<input type="text" id="message-input"/>
<button id="send-message-button">Wyślij</button>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

-->
